<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_009{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Verdana Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Verdana Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
.heightInput {
    height:8px;
}
-->
</style>
<script type="text/javascript" src="4fdb8ce6-4089-11eb-8b25-0cc47a792c0a_id_4fdb8ce6-4089-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<form action="#" method="post">
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="4fdb8ce6-4089-11eb-8b25-0cc47a792c0a_id_4fdb8ce6-4089-11eb-8b25-0cc47a792c0a_files/background1.jpg" width=595 height=842></div>
<div style="position:absolute;left:491.40px;top:23.28px" class="cls_003"><span class="cls_003">ROMÂNIA</span></div>
<div style="position:absolute;left:323.66px;top:32.88px" class="cls_003"><span class="cls_003">UNIVERSITATEA BABEŞ-BOLYAI CLUJ-NAPOCA</span></div>
<div style="position:absolute;left:307.69px;top:52.08px" class="cls_003"><span class="cls_003">Str. Mihail Kogălniceanu, nr. 1, cod 400084 Cluj-Napoca</span></div>
<div style="position:absolute;left:416.52px;top:61.68px" class="cls_003"><span class="cls_003">Tel. (00) 40 - 264 - 40.53.00</span></div>
<div style="position:absolute;left:410.53px;top:71.28px" class="cls_003"><span class="cls_003">Fax:. (00) 40 - 264 - 40.53.79</span></div>
<div style="position:absolute;left:283.10px;top:121.67px" class="cls_009"><span class="cls_009">ACORD</span></div>
<div style="position:absolute;left:230.54px;top:131.15px" class="cls_005"><span class="cls_005">privind efectuarea stagiilor de practică</span></div>
<div style="position:absolute;left:64.95px;top:149.99px" class="cls_005"><span class="cls_005">Prezentul acord se încheie între:</span></div>
<div style="position:absolute;left:64.95px;top:168.95px" class="cls_005"><span class="cls_005">UNIVERSITATEA “BABEŞ-BOLYAI”, cu sediul în Cluj-Napoca, str. Mihail Kogălniceanu nr. 1, tel. 0264/405300,fax 0264/590592, cod</span></div>
<div style="position:absolute;left:56.79px;top:178.43px" class="cls_005"><span class="cls_005">fiscal  4305849,  cont  deschis  la  Trezoreria  Cluj-Napoca  cu  IBAN  RO76TREZ216504601X007224,  reprezentată  legal  prin  Rector  prof.  univ.  dr.</span></div>
<div style="position:absolute;left:56.79px;top:187.91px" class="cls_005"><span class="cls_005">Daniel DAVID, în calitate de organizator de practică;</span></div>
<div style="position:absolute;left:64.95px;top:197.39px" class="cls_005"><span class="cls_005">S.C. <input name="numeFirma" type="text" class="heightInput">, cu sediul în _____________, str. _____________ nr. ___, tel. _____________, fax____________, cod</span></div>
<div style="position:absolute;left:56.79px;top:206.87px" class="cls_005"><span class="cls_005">fiscal</span></div>
<div style="position:absolute;left:80.91px;top:206.87px" class="cls_005"><span class="cls_005">_________,  cont  deschis  la</span></div>
<div style="position:absolute;left:189.99px;top:206.87px" class="cls_005"><span class="cls_005">______________  cu  IBAN</span></div>
<div style="position:absolute;left:294.13px;top:206.87px" class="cls_005"><span class="cls_005">______________________________________,  reprezentată  legal  prin</span></div>
<div style="position:absolute;left:56.79px;top:216.35px" class="cls_005"><span class="cls_005">_______________________, în calitate de partener de practică.</span></div>
<div style="position:absolute;left:64.95px;top:235.30px" class="cls_005"><span class="cls_005">ART. 1</span></div>
<div style="position:absolute;left:64.95px;top:244.78px" class="cls_009"><span class="cls_009">Obiectul acordului</span></div>
<div style="position:absolute;left:64.95px;top:254.26px" class="cls_005"><span class="cls_005">(1)PărŃile au convenit asupra efectuării de stagii de practică, în cadrul activităŃilor partenerului de practică, de către un număr de _____ studenŃi</span></div>
<div style="position:absolute;left:56.79px;top:263.74px" class="cls_005"><span class="cls_005">înscrişi în ciclurile de studii ale organizatorului de practică după cum urmează:</span></div>
<div style="position:absolute;left:56.79px;top:273.22px" class="cls_005"><span class="cls_005">a) _____ studenŃi, ciclul licenŃă/master, specializarea __________________________, Facultatea de ___________________________.</span></div>
<div style="position:absolute;left:56.79px;top:282.70px" class="cls_005"><span class="cls_005">b) _____ studenŃi, ciclul licenŃă/master, specializarea __________________________, Facultatea de ___________________________.</span></div>
<div style="position:absolute;left:64.95px;top:292.18px" class="cls_005"><span class="cls_005">(2)Stagiul de practică este realizat de practicanŃi în vederea dobândirii de competenŃe profesionale care exced procesului teoretic de învăŃământ.</span></div>
<div style="position:absolute;left:64.95px;top:301.66px" class="cls_005"><span class="cls_005">ART. 2</span></div>
<div style="position:absolute;left:64.95px;top:311.14px" class="cls_009"><span class="cls_009">Statutul practicantului</span></div>
<div style="position:absolute;left:66.52px;top:320.86px" class="cls_005"><span class="cls_005">(1)Practicantul rămâne, pe toată durata stagiului de pregătire practică, student al instituŃiei de învăŃământ superior.</span></div>
<div style="position:absolute;left:66.52px;top:330.34px" class="cls_005"><span class="cls_005">(2)Raporturile dintre practicant şi partenerul de practică nu sunt raporturi individuale de muncă, aşa cum sunt acestea reglementate de legislaŃia</span></div>
<div style="position:absolute;left:66.52px;top:339.82px" class="cls_005"><span class="cls_005">specifică.</span></div>
<div style="position:absolute;left:64.96px;top:349.29px" class="cls_005"><span class="cls_005">ART. 3</span></div>
<div style="position:absolute;left:64.96px;top:358.89px" class="cls_009"><span class="cls_009">CondiŃiile de desfăşurare ale  stagiilor de practică</span></div>
<div style="position:absolute;left:64.96px;top:368.13px" class="cls_005"><span class="cls_005">(1)Stagiile de practică vor avea durata de _____ zile/ore.</span></div>
<div style="position:absolute;left:64.96px;top:377.61px" class="cls_005"><span class="cls_005">(2)Stagiile de practică vor fi efectuate cu respectarea Legii nr. 258/2007, a O.M.E.C.T. 3955/2008, a Regulamentelor interne ale organizatorului şi</span></div>
<div style="position:absolute;left:56.79px;top:387.09px" class="cls_005"><span class="cls_005">partenerului de practică, precum şi a oricăror alte prevederi legale aplicabile în vigoare.</span></div>
<div style="position:absolute;left:64.96px;top:396.57px" class="cls_005"><span class="cls_005">(3)Organizatorul şi partenerul vor desemna persoane însărcinate cu coordonarea stagiilor de practică, cadre didactice supervizoare respectiv tutori.</span></div>
<div style="position:absolute;left:64.96px;top:406.05px" class="cls_005"><span class="cls_005">(4)Persoanele desemnate de părŃi şi prevăzute la aliniatul precedent vor avea competenŃa evaluării activităŃii desfăşurate de practicanŃi.</span></div>
<div style="position:absolute;left:64.96px;top:415.53px" class="cls_005"><span class="cls_005">(5)InformaŃiile confidenŃiale ale unei părŃi intrate în posesia celeilalte părŃi nu pot fi utilizate sub nicio formă de către aceasta din urmă fără un</span></div>
<div style="position:absolute;left:56.80px;top:425.01px" class="cls_005"><span class="cls_005">acord prealabil.</span></div>
<div style="position:absolute;left:64.96px;top:434.49px" class="cls_005"><span class="cls_005">(6)ResponsabilităŃile concrete ale părŃilor şi ale practicanŃilor, alte aspecte legate de buna desfăşurare a stagiilor vor fi reglementate prin convenŃii-</span></div>
<div style="position:absolute;left:56.80px;top:443.97px" class="cls_005"><span class="cls_005">cadru însoŃite de portofolii de practică.</span></div>
<div style="position:absolute;left:64.96px;top:453.45px" class="cls_005"><span class="cls_005">ART. 4</span></div>
<div style="position:absolute;left:64.96px;top:463.05px" class="cls_009"><span class="cls_009">Clauze finale</span></div>
<div style="position:absolute;left:64.95px;top:472.28px" class="cls_005"><span class="cls_005">(1)Prezentul acord se încheie pe durata anului universitar _______________. PărŃile pot conveni asupra prelungirii prin act adiŃional.</span></div>
<div style="position:absolute;left:64.96px;top:481.76px" class="cls_005"><span class="cls_005">(2)Comunicările referitoare la executarea acordului şi a convenŃiilor care se vor încheia în baza lui se fac exclusiv în scris cu confirmarea</span></div>
<div style="position:absolute;left:56.80px;top:491.24px" class="cls_005"><span class="cls_005">recepŃionării.</span></div>
<div style="position:absolute;left:60.88px;top:510.20px" class="cls_005"><span class="cls_005">Prezentul acord s-a încheiat azi, ____________, în 2 (două) exemplare, câte unul pentru fiecare parte.</span></div>
<div style="position:absolute;left:130.29px;top:525.80px" class="cls_003"><span class="cls_003">ORGANIZATOR</span></div>
<div style="position:absolute;left:392.77px;top:525.80px" class="cls_003"><span class="cls_003">PARTENER</span></div>
<div style="position:absolute;left:147.87px;top:545.00px" class="cls_003"><span class="cls_003">Rector,</span></div>
<div style="position:absolute;left:372.61px;top:545.00px" class="cls_003"><span class="cls_003">Reprezentant legal,</span></div>
<div style="position:absolute;left:99.62px;top:564.20px" class="cls_007"><span class="cls_007">Prof. univ. dr. Daniel DAVID</span></div>
<div style="position:absolute;left:121.57px;top:593.02px" class="cls_003"><span class="cls_003">Vizat de legalitate,</span></div>
</div>
<input type="submit" value="TrimitereAcordPractica"><br><br>
</form>
</body>
</html>
