<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="documentDiv" style="top: 20%; left: 15%">
		<h2>Documente pentru Protectia Muncii</h2>
		<form action="declaratieFirmaStudent.html" class="documentButtonForm">
			<input type="submit" class="documentButton" name="studentFirmaButton" value="Declaratie Practica la Firma">
		</form>
		<form action="declaratieFacultateStudent.html" class="documentButtonForm">
			<input type="submit" class="documentButton" name="studentUbbButton" value="Declaratie Practica la UBB">
		</form>
		<form action="traseuStudent.html" class="documentButtonForm">
			<input type="submit" class="documentButton" name="studentTraseuButton" value="Declaratie de Traseu">
		</form>
	</div>
	<div class="documentDiv" style="top: 20%; right: 15%">
		<h2>Conventie de Practica</h2>
		<form action="conventieStudent.html" class="documentButtonForm">
			<input type="submit" class="documentButton" value="Completare">
		</form>
	</div>
</body>
</html>