<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 20%; top: 15%; left: 35%">
		<h2>Acord de Practica</h2>
		<form action="#" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="secretaraAcordButton" value="Incarcare Fisiere">
		</form>
	</div>
	<div class="documentDiv" style="height: 20%; top: 40%; left: 35%">
		<h2>Protectia Muncii</h2>
		<form action="#" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="secretaraProtectieButton" value="Incarcare Fisiere">
		</form>
	</div>
	<div class="documentDiv" style="height: 20%; top: 65%; left: 35%">
		<h2>Conventie de Practica</h2>
		<form action="#" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="secretaraConventieButton" value="Incarcare Fisiere">
		</form>
	</div>
</body>
</html>