<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 20%;top: 40%; left: 15%">
		<h2>Acord Practica</h2>
		<form action="acordResponsabilFacultate.html" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="responsabilFacultateAcordButton" value="Semneaza">
		</form>
	</div>
	<div class="documentDiv" style="height: 20%;top: 40%; left: 55%">
		<h2>Conventie Practica</h2>
		<form action="conventieResponsabilFacultate.html" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="responsabilFacultateConventieButton" value="Semneaza">
		</form>
	</div>
</body>
</html>