<!DOCTYPE html>
<html>
<head>
    <title>Documente Practica</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<div class="documentDiv" style="height: 95%; width: 30%;top: 5%; left: 35%">
    <h2>Date Conventie de Practica</h2><br>
    <form action="#" method="post" style="width: 100%">

        <label for="name">Nume Responsabil:</label><br>
        <input id="name" name="name" type="text"><br><br>

        <label for="function">Functie Responsabil:</label><br>
        <input id="function" name="function" type="text"><br><br>

        <label for="phone">Telefon Respnsabil:</label><br>
        <input id="phone" name="phone" type="text"><br><br>

        <label for="fax">Fax Responsabil:</label><br>
        <input id="fax" name="fax" type="text"><br><br>

        <label for="email">Email Responsabil:</label><br>
        <input id="email" name="email" type="text"><br><br>

        <label for="credits">Numar Credite:</label><br>
        <input id="credits" name="credits" type="text"><br><br>

        <label for="date">Data Completarii:</label><br>
        <input id="date" name="date" type="text"><br><br>

        <label for="signature">Semnatura:</label><br>
        <input id="signature" name="signature" type="text"><br><br><br>

        <input type="submit" value="Completeaza">
    </form>
</div>
</body>
</html>