<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="../styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 215%; width: 30%;top: 5%; left: 35%">
		<h2>Date Conventie</h2><br>
		<form action="#" method="post" style="width: 100%">
			<label for="country">Cetatenie:</label><br>
			<input type="text" id="country" name="country"><br><br>

			<label for="city">Oras:</label><br>
			<input type="text" id="city" name="city"><br><br>

			<label for="street">Strada:</label><br>
			<input type="text" id="street" name="street"><br><br>

			<label for="number">Numarul:</label><br>
			<input type="text" id="number" name="number"><br><br>

			<label for="apartment">Apartament:</label><br>
			<input type="text" id="apartment" name="apartment"><br><br>

			<label for="county">Judet:</label><br>
			<input type="text" id="county" name="county"><br><br>

			<label for="phone">Telefon:</label><br>
			<input type="text" id="phone" name="phone"><br><br>

			<label for="email">Email:</label><br>
			<input type="text" id="email" name="email"><br><br>

			<label for="series">Serie Buletin:</label><br>
			<input type="text" id="series" name="series"><br><br>

			<label for="id">Numar Buletin:</label><br>
			<input type="text" id="id" name="id"><br><br>

			<label for="birthdate">Data nasterii:</label><br>
			<input type="text" id="birthdate" name="birthdate"><br><br>

			<label for="birthcity">Oras Natal:</label><br>
			<input type="text" id="birthcity" name="birthcity"><br><br>

			<label for="birthcounty">Judet Natal:</label><br>
			<input type="text" id="birthcounty" name="birthcounty"><br><br>

			<label for="date">Data:</label><br>
			<input type="text" id="date" name="date"><br><br>

			<label for="signature">Semnatura:</label><br>
			<input type="text" id="signature" name="signature"><br><br><br>
			<input type="submit" value="Completeaza">
		</form>
	</div>
</body>
</html>