<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="../styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 215%; width: 30%;top: 5%; left: 35%">
		<h2>Date Generale</h2><br>
		<form action="{{ url_for('student.student_info') }}" method="post" style="width: 100%">

			<label for="name">Nume si Prenume:</label><br>
			<input type="text" id="name" name="name"><br><br>

			<label for="pnc">CNP:</label><br>
			<input type="text" id="pnc" name="pnc"><br><br>

			<label for="student_function">Functie:</label><br>
			<input type="text" id="student_function" name="student_function"><br><br>

			<label for="faculty">Facultate:</label><br>
			<input type="text" id="faculty" name="faculty"><br><br>

			<label for="year">Anul Universitar:</label><br>
			<input type="text" id="year" name="year"><br><br>

			<label for="group">Grupa:</label><br>
			<input type="text" id="group" name="group"><br><br>

			<label for="specialization">Specializarea:</label><br>
			<input type="text" id="specialization" name="specialization"><br><br>

			<label for="study_line">Linia de Studiu:</label><br>
			<input type="text" id="study_line" name="study_line"><br><br>

            <input type="submit" value="Completeaza">
		</form>
	</div>
</body>
</html>