<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="../styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 120%; width: 400px;top: 5%; left: 35%">
		<h2>Date Traseu de Practica</h2><br>
		<form action="#" method="post" style="width: 100%">

			<label for="name">Nume si Prenume:</label><br>
			<input type="text" id="name" name="name"><br><br>

			<label for="cnp">CNP:</label><br>
			<input type="text" id="cnp" name="cnp"><br><br>

			<label for="faculty">Facultate:</label><br>
			<input type="text" id="faculty" name="faculty"><br><br>

			<label for="group">Grupa:</label><br>
			<input type="text" id="group" name="group"><br><br>

			<label for="currentaddress">Adresa Curenta:</label><br>
			<input type="text" id="currentaddress" name="currentaddress"><br><br>

			<label for="normaladdress">Adresa Normala:</label><br>
			<input type="text" id="normaladdress" name="normaladdress"><br><br>

			<label for="partneraddress">Adresa Firmei:</label><br>
			<input type="text" id="partneraddress" name="partneraddress"><br><br>

			<label for="startdate">Data Inceperii:</label><br>
			<input type="text" id="startdate" name="startdate"><br><br>

			<label for="enddate">Data Terminarii:</label><br>
			<input type="text" id="enddate" name="enddate"><br><br>

			<label for="partnerpath">Traseu spre Firma:</label><br>
			<input type="text" id="partnerpath" name="partnerpath"><br><br>

			<label for="homepath">Traseu spre Domiciliu:</label><br>
			<input type="text" id="homepath" name="homepath"><br><br>

			<label for="transport">Mijloc de Transport:</label><br>
			<input type="text" id="transport" name="transport"><br><br>

			<label for="date">Data:</label><br>
			<input type="text" id="date" name="date"><br><br>

			<label for="signature">Semnatura:</label><br>
			<input type="text" id="signature" name="signature"><br><br><br>
			<input type="submit" value="Completeaza">
		</form>
	</div>
</body>
</html>