<!DOCTYPE html>
<html>
<head>
    <title>Documente Practica</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<div class="documentDiv" style="height: 155%; width: 30%;top: 5%; left: 35%">
    <h2>Date Traseu de Practica</h2><br>
    <form action="#" method="post" style="width: 100%">

        <label for="name">Nume si Prenume:</label><br>
        <input id="name" name="name" type="text"><br><br>

        <label for="cnp">CNP:</label><br>
        <input id="cnp" name="cnp" type="text"><br><br>

        <label for="faculty">Facultate:</label><br>
        <input id="faculty" name="faculty" type="text"><br><br>

        <label for="group">Grupa:</label><br>
        <input id="group" name="group" type="text"><br><br>

        <label for="currentaddress">Adresa Curenta:</label><br>
        <input id="currentaddress" name="currentaddress" type="text"><br><br>

        <label for="normaladdress">Adresa Normala:</label><br>
        <input id="normaladdress" name="normaladdress" type="text"><br><br>

        <label for="partneraddress">Adresa Firmei:</label><br>
        <input id="partneraddress" name="partneraddress" type="text"><br><br>

        <label for="startdate">Data Inceperii:</label><br>
        <input id="startdate" name="startdate" type="text"><br><br>

        <label for="enddate">Data Terminarii:</label><br>
        <input id="enddate" name="enddate" type="text"><br><br>

        <label for="partnerpath">Traseu spre Firma:</label><br>
        <input id="partnerpath" name="partnerpath" type="text"><br><br>

        <label for="homepath">Traseu spre Domiciliu:</label><br>
        <input id="homepath" name="homepath" type="text"><br><br>

        <label for="transport">Mijloc de Transport:</label><br>
        <input id="transport" name="transport" type="text"><br><br>

        <label for="date">Data:</label><br>
        <input id="date" name="date" type="text"><br><br>

        <label for="signature">Semnatura:</label><br>
        <input id="signature" name="signature" type="text"><br><br><br>
        <input type="submit" value="Completeaza">
    </form>
</div>
</body>
</html>