<!DOCTYPE html>
<html>
<head>
    <title>Documente Practica</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<div class="documentDiv" style="height: 90%; width: 400px;top: 5%; left: 35%">
    <h2>Date Acord de Practica</h2><br>
    <form action="#" method="post" style="width: 100%">

        <label for="TotalNoStudents">Nr studenti:</label><br>
        <input id="TotalNoStudents" name="TotalNoStudents" type="text"><br><br>
        <label for="NoStudents1">a) Nr Studenti:</label><br>
        <input id="NoStudents1" name="NoStudents1" type="text"><br><br>
        <label for="Specialization1">a) Specializare:</label><br>
        <input id="Specialization1" name="Specialization1" type="text"><br><br>
        <label for="Faculty1">a) Facultate:</label><br>
        <input id="Faculty1" name="Faculty1" type="text"><br><br>
        <label for="NoStudents2">b) Nr Studenti:</label><br>
        <input id="NoStudents2" name="NoStudents2" type="text"><br><br>
        <label for="Specialization2">b) Specializare:</label><br>
        <input id="Specialization2" name="Specialization2" type="text"><br><br>
        <label for="Faculty2">b) Facultate:</label><br>
        <input id="Faculty2" name="Faculty2" type="text"><br><br>
        <label for="InternshipLenghtDays">Numar de ore:</label><br>
        <input id="InternshipLenghtDays" name="InternshipLenghtDays" type="text"><br><br>
        <label for="AccordYear">An universitar:</label><br>
        <input id="AccordYear" name="AccordYear" type="text"><br><br>
        <label for="AccordSignDate">Data:</label><br>
        <input id="AccordSignDate" name="AccordSignDate" type="text"><br><br>


        <input type="submit" value="Completeaza">
    </form>
</div>
</body>
</html>