<!DOCTYPE html>
<html>
<head>
    <title>Documente Practica</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<div class="documentDiv" style="height: 215%; width: 30%;top: 5%; left: 35%">
    <h2>Date Conventie de Practica</h2><br>
    <form action="#" method="post" style="width: 100%">

        <label for="firm">Nume Firma:</label><br>
        <input id="firm" name="firm" type="text"><br><br>

        <label for="city">Oras Sediu:</label><br>
        <input id="city" name="city" type="text"><br><br>

        <label for="street">Strada Sediu:</label><br>
        <input id="street" name="street" type="text"><br><br>

        <label for="number">Numar Sediu:</label><br>
        <input id="number" name="number" type="text"><br><br>

        <label for="phone">Telefon:</label><br>
        <input id="phone" name="phone" type="text"><br><br>

        <label for="fax">Fax:</label><br>
        <input id="fax" name="fax" type="text"><br><br>

        <label for="email">Email:</label><br>
        <input id="email" name="email" type="text"><br><br>

        <label for="code">Cod Fiscal:</label><br>
        <input id="code" name="code" type="text"><br><br>

        <label for="account">Cont:</label><br>
        <input id="account" name="account" type="text"><br><br>

        <label for="banca">Banca:</label><br>
        <input id="banca" name="banca" type="text"><br><br>

        <label for="representative">Reprezentant:</label><br>
        <input id="representative" name="representative" type="text"><br><br>

        <label for="function">Functie Reprezentant:</label><br>
        <input id="function" name="function" type="text"><br><br>

        <label for="address">Adresa Practica:</label><br>
        <input id="address" name="address" type="text"><br><br>

        <label for="hours">Ore Desfarsurare Practica:</label><br>
        <input id="hours" name="hours" type="text"><br><br>

        <label for="startInternshipDate">Data inceperii internship-ului:</label><br>
        <input id="startInternshipDate" name="startInternshipDate" type="text"><br><br>

        <label for="endInternshipDate">Data finalizarii internship-ului:</label><br>
        <input id="endInternshipDate" name="endInternshipDate" type="text"><br><br>

        <label for="tutor">Nume Tutore:</label><br>
        <input id="tutor" name="tutor" type="text"><br><br>

        <label for="tutorfunction">Functie Tutore:</label><br>
        <input id="tutorfunction" name="tutorfunction" type="text"><br><br>

        <label for="tutorphone">Telefon Tutore:</label><br>
        <input id="tutorphone" name="tutorphone" type="text"><br><br>

        <label for="tutorfax">Fax Tutore:</label><br>
        <input id="tutorfax" name="tutorfax" type="text"><br><br>

        <label for="tutormail">Email Tutore:</label><br>
        <input id="tutormail" name="tutormail" type="text"><br><br>

        <!-- art 12 este necesar?-->

        <label for="date">Data Completarii:</label><br>
        <input id="date" name="date" type="text"><br><br>

        <label for="signature">Semnatura Reprezentantului:</label><br>
        <input id="signature" name="signature" type="text"><br><br><br>

        <input type="submit" value="Completeaza">
    </form>
</div>
</body>
</html>