<!DOCTYPE html>
<html>
<head>
    <title>Documente Practica</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<div class="documentDiv" style="height: 90%; width: 400px;top: 5%; left: 35%">
    <h2>Completare date generale firma</h2><br>
    <form action="#" method="post" style="width: 100%">

        <label for="CompanyName">Nume Firma:</label><br>
        <input id="CompanyName" name="CompanyName" type="text"><br><br>
        <label for="CompanyCity">Oras Firma:</label><br>
        <input id="CompanyCity" name="CompanyCity" type="text"><br><br>
        <label for="CompanyStreet">Strada:</label><br>
        <input id="CompanyStreet" name="CompanyStreet" type="text"><br><br>
        <label for="CompanyStreetNo">Numarul strazii:</label><br>
        <input id="CompanyStreetNo" name="CompanyStreetNo" type="text"><br><br>
        <label for="CompanyPhone">Telafon :</label><br>
        <input id="CompanyPhone" name="CompanyPhone" type="text"><br><br>
        <label for="CompanyFax">Fax:</label><br>
        <input id="CompanyFax" name="CompanyFax" type="text"><br><br>
        <label for="CompanyFiscalCode">Cod fiscal:</label><br>
        <input id="CompanyFiscalCode" name="CompanyFiscalCode" type="text"><br><br>
        <label for="CompanyBank">Banca:</label><br>
        <input id="CompanyBank" name="CompanyBank" type="text"><br><br>
        <label for="CompanyIBAN">IBAN:</label><br>
        <input id="CompanyIBAN" name="CompanyIBAN" type="text"><br><br>
        <label for="CompanyLegalRepresentative">Reprezentant legal:</label><br>
        <input id="CompanyLegalRepresentative" name="CompanyLegalRepresentative" type="text"><br><br>


        <input type="submit" value="Completeaza">
    </form>
</div>
</body>
</html>