<!DOCTYPE html>
<html>
<head>
    <title>Documente Practica</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
<div class="documentDiv" style="height: 20%;top: 40%; left: 35%">
    <h2>Completare date generale firma</h2>
    <form action="{{ url_for('responsabil_firma.date_firma') }}" class="documentButtonForm" style="height: 30%">
        <input class="documentButton" name="tutoreFirmaConventieButton" type="submit" value="Completeaza">
    </form>
    <h2>Conventie de Practica</h2>
    <form action="{{ url_for('responsabil_firma.conventie') }}" class="documentButtonForm" style="height: 30%">
        <input class="documentButton" name="tutoreFirmaConventieButton" type="submit" value="Completeaza">
    </form>
    <h2>Completare Acord</h2>
    <form action="{{ url_for('responsabil_firma.acord') }}" class="documentButtonForm" style="height: 30%">
        <input class="documentButton" name="tutoreFirmaAcordButton" type="submit" value="Completeaza">
    </form>
	<h1>Management practica {{ year }}</h1>
	<div class="managementDiv" style="height: 20%;top: 40%; left: 35%">
		{% if active == False %}
			<form  action="{{ url_for('responsabil_firma.start_internship') }}" class="documentButtonForm" style="height: 30%">
				<input class="documentButton" type="submit" name="tutoreFirmaConventieButton" value="Completeaza">
			</form>
		{% else %}
			<form  action="{{ url_for('responsabil_firma.management') }}" class="documentButtonForm" style="height: 30%">
				<input class="documentButton" type="submit" name="tutoreFirmaConventieButton" value="Vizualizare studenti">
			</form>
		{% endif %}
	</div>
    <a href="{{url_for('auth.logout')}}"> Logout </a>
</div>
</body>
</html>