<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>Adauga studenti</h2>
        {% if error is defined %}
            <p>{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('responsabil_firma.add_student') }}" method="post" style="width: 100%">
			<label for="name">Nume student:</label><br>
			<input type="text" id="name" name="name"><br><br>
            <label for="year">Grupa:</label><br>
			<input type="text" id="year" name="year"><br><br>
            <label for="group">An:</label><br>
			<input type="text" id="group" name="group"><br><br>
			<input type="submit" value="Adauga">
		</form>
    </div>
    <table>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>