<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documente Practica</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</head>
<body>
	<div class="row justify-content-center mt-4 text-center">
		<div class="col-md-3 card">
			<div class="justify-content-center row card-header">
				<h2>Date Conventie de Practica</h2>
			</div>
			<br>
			<form action="{{ url_for('responsabil_firma.start_internship') }}" method="post" style="width: 100%">
				<label for="year">An universitar:</label><br>
				<input type="text" id="year" name="year" class="form-control"><br><br>
	            <label for="start_date">Start date</label><br>
				<input type="text" id="start_date" name="start_date" class="form-control"><br><br>
	            <label for="end_date">End date</label><br>
				<input type="text" id="end_date" name="end_date" class="form-control"><br><br>
				<input class="btn btn-primary" type="submit" value="Completeaza">
			</form>
		</div>
	</div>
</body>
</html>