<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="../styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 50%; width: 400px;top: 25%; left: 40%">
		<h2>Date Acord de Practica</h2><br>
		<form action="#" method="post" style="width: 100%">
			<label for="hours">Numarul de ore:</label><br>
			<input type="text" id="hours" name="hours"><br><br>
			<label for="year">Anul universitar:</label><br>
			<input type="text" id="year" name="year"><br><br>
			<label for="date">Data curenta:</label><br>
			<input type="text" id="date" name="date"><br><br>
			<label for="signature">Semnatura:</label><br>
			<input type="text" id="signature" name="signature">
		</form>
	</div>
</body>
</html>