<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="../styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 215%; width: 30%;top: 5%; left: 35%">
		<h2>Date Conventie de Practica</h2><br>
		<form action="#" method="post" style="width: 100%">

			<label for="tutorname">Nume Tutore:</label><br>
			<input type="text" id="tutorname" name="tutorname"><br><br>

			<label for="tutorfunction">Functie Tutore:</label><br>
			<input type="text" id="tutorfunction" name="tutorfunction"><br><br>

			<label for="signature">Semnatura Tutore:</label><br>
			<input type="text" id="signature" name="signature"><br><br><br>

			<input type="submit" value="Completeaza">
		</form>
	</div>
</body>
</html>