<!DOCTYPE html>
<html>
<head>
    <title>Documente Practica</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<div class="documentDiv" style="height: 215%; width: 30%;top: 5%; left: 35%">
    <h2>Date Conventie de Practica</h2><br>
    <form action="#" method="post" style="width: 100%">

        <label for="tutorname">Nume Tutore:</label><br>
        <input id="tutorname" name="tutorname" type="text"><br><br>

        <label for="tutorfunction">Functie Tutore:</label><br>
        <input id="tutorfunction" name="tutorfunction" type="text"><br><br>

        <label for="signature">Semnatura Tutore:</label><br>
        <input id="signature" name="signature" type="text"><br><br><br>

        <input type="submit" value="Completeaza">
    </form>
</div>
</body>
</html>