<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="../styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 320%; width: 600px;top: 5%; left: 35%">
		<h2>Evaluare</h2><br>
		<form action="#" method="post" style="width: 100%">

			<label for="companyname">Nume Companie:</label><br>
			<input type="text" id="companyname" name="companyname"><br><br>

			<label for="companynumber">Numar Companie:</label><br>
			<input type="text" id="companynumber" name="companynumber"><br><br>

			<label for="companycity">Oras Companie:</label><br>
			<input type="text" id="companycity" name="companycity"><br><br>

			<label for="studentname">Nume Practicant:</label><br>
			<input type="text" id="studentname" name="studentname"><br><br>

			<label for="studentschool">Facultate Student:</label><br>
			<input type="text" id="studentschool" name="studentschool"><br><br>

			<label for="studentspecialty">Specializare Student:</label><br>
			<input type="text" id="studentspecialty" name="studentspecialty"><br><br>

			<label for="studentyear">An Studiu:</label><br>
			<input type="text" id="studentyear" name="studentyear"><br><br>

			<label for="tutorname">Nume Tutore:</label><br>
			<input type="text" id="tutorname" name="tutorname"><br><br>

			<label for="companyphone">Telefon Companie:</label><br>
			<input type="text" id="companyphone" name="companyphone"><br><br>

			<label for="companymail">E-mail Companie:</label><br>
			<input type="text" id="companymail" name="companymail"><br><br>

			<label for="startdate">Data Incepere Practica:</label><br>
			<input type="text" id="startdate" name="startdate"><br><br>

			<label for="enddate">Data Incheiere Practica:</label><br>
			<input type="text" id="enddate" name="enddate"><br><br>

			<label for="hoursdone">Ore Efectuate:</label><br>
			<input type="text" id="hoursdone" name="hoursdone"><br><br>

			<label>Domenii Companie:</label><br>
			<input class="radioInput" type="checkbox" id="companydomain1" name="companydomain1">
				<label class="radioLabel" for="companydomain1">Dezvoltare Software</label><br>
			<input class="radioInput" type="checkbox" id="companydomain2" name="companydomain2">
				<label class="radioLabel" for="companydomain2">Utilizare Software</label><br>
			<input class="radioInput" type="checkbox" id="companydomain3" name="companydomain3">
				<label class="radioLabel" for="companydomain3">Servicii si Echipamente IT</label><br>
			<input class="radioInput" type="checkbox" id="companydomain4" name="companydomain4">
				<label class="radioLabel" for="companydomain4">Alte:</label><br>
			<input class="radioTextInput" type="text" id="otherdomain" name="otherdomain"><br><br>

			<label>Activitati Practica:</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity1" name="studentactivity1">
				<label class="radioLabel" for="studentactivity1">Invatare</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity2" name="studentactivity2">
				<label class="radioLabel" for="studentactivity2">Dezvoltare de Software</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity3" name="studentactivity3">
				<label class="radioLabel" for="studentactivity3">Dezvoltare Abilitati</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity4" name="studentactivity4">
				<label class="radioLabel" for="studentactivity4">Evaluare</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity5" name="studentactivity5">
				<label class="radioLabel" for="studentactivity5">Alte:</label><br>
			<input class="radioTextInput" type="text" id="otheractivity" name="otheractivity"><br><br>

			<label>Cunostinte Student la Inceperea Practicii:</label><br>
			<input class="radioInput" type="radio" id="startweak" name="startgrade">
				<label class="radioLabel" for="startgrade">Slab</label><br>
			<input class="radioInput" type="radio" id="startsatisfying" name="startgrade">
				<label class="radioLabel" for="startgrade">Satisfacator</label><br>
			<input class="radioInput" type="radio" id="startgood" name="startgrade">
				<label class="radioLabel" for="startgrade">Bun</label><br>
			<input class="radioInput" type="radio" id="startverygood" name="startgrade">
				<label class="radioLabel" for="startgrade">Foarte Bun</label><br>
			<input class="radioInput" type="radio" id="startexcellent" name="startgrade">
				<label class="radioLabel" for="startgrade">Excelent</label><br><br>

			<label>Calitatea Lucrarilor Efectuate:</label><br>
			<input class="radioInput" type="radio" id="workweak" name="workgrade">
				<label class="radioLabel" for="workgrade">Slab</label><br>
			<input class="radioInput" type="radio" id="worksatisfying" name="workgrade">
				<label class="radioLabel" for="workgrade">Satisfacator</label><br>
			<input class="radioInput" type="radio" id="workgood" name="workgrade">
				<label class="radioLabel" for="workgrade">Bun</label><br>
			<input class="radioInput" type="radio" id="workverygood" name="workgrade">
				<label class="radioLabel" for="workgrade">Foarte Bun</label><br>
			<input class="radioInput" type="radio" id="workexcellent" name="workgrade">
				<label class="radioLabel" for="workgrade">Excelent</label><br><br>

			<label>Calitatea Documentatiilor Elaborate:</label><br>
			<input class="radioInput" type="radio" id="docweak" name="docgrade">
				<label class="radioLabel" for="docgrade">Slab</label><br>
			<input class="radioInput" type="radio" id="docsatisfying" name="docgrade">
				<label class="radioLabel" for="docgrade">Satisfacator</label><br>
			<input class="radioInput" type="radio" id="docgood" name="docgrade">
				<label class="radioLabel" for="docgrade">Bun</label><br>
			<input class="radioInput" type="radio" id="docverygood" name="docgrade">
				<label class="radioLabel" for="docgrade">Foarte Bun</label><br>
			<input class="radioInput" type="radio" id="docexcellent" name="docgrade">
				<label class="radioLabel" for="docgrade">Excelent</label><br><br><br>

			<label>Evaluare pe Perioada Practicii:</label><br><br>
			<label>0.30 - Foarte Slab</label><br>
			<label>0.50 - Satisfacator</label><br>
			<label>0.70 - Bun</label><br>
			<label>0.90 - Foarte Bun</label><br>
			<label>0 - Neevaluat</label><br><br>
			<label>Algoritmi, Structuri de Date:</label><br>
			<input type="text" id="algorithmgrade" name="algorithmgrade"><br>
			<label>Limbaje si Medii de Programare/Dezvoltare:</label><br>
			<input type="text" id="programminggrade" name="programminggrade"><br>
			<label>Proiectare si Arhitecturi Software:</label><br>
			<input type="text" id="architecturegrade" name="architecturegrade"><br>
			<label>Metodologii Software:</label><br>
			<input type="text" id="methodgrade" name="methodgrade"><br>
			<label>Baze de Date:</label><br>
			<input type="text" id="databasegrade" name="databasegrade"><br>
			<label>Sisteme de Operare si Retele:</label><br>
			<input type="text" id="osgrade" name="osgrade"><br>
			<label>Testare:</label><br>
			<input type="text" id="testgrade" name="testgrade"><br>
			<label>Securitate:</label><br>
			<input type="text" id="securitygrade" name="securitygrade"><br>
			<label style="left: 20%; width: 20%;">Alte: </label>
				<input class="radioTextInput" type="text" id="otherspecialty" name="otherspecialty" style="left: 20%; width: 40%"><br>
			<input type="text" id="othergrade" name="othergrade"><br><br>

			<label>Respectarea Sarcinilor:</label><br>
			<input class="radioInput" type="radio" id="taskperfect" name="taskgrade">
				<label class="radioLabel" for="taskgrade">In Totalitate</label><br>
			<input class="radioInput" type="radio" id="taskmostly" name="taskgrade">
				<label class="radioLabel" for="taskgrade">In Mare Masura</label><br>
			<input class="radioInput" type="radio" id="tasklittle" name="taskgrade">
				<label class="radioLabel" for="taskgrade">In Mica Masura</label><br>
			<input class="radioInput" type="radio" id="taskzero" name="taskgrade">
				<label class="radioLabel" for="taskgrade">Deloc</label><br><br>

			<label>Respectarea Termenelor:</label><br>
			<input class="radioInput" type="radio" id="deadlineperfect" name="deadlinegrade">
				<label class="radioLabel" for="deadlinegrade">In Totalitate</label><br>
			<input class="radioInput" type="radio" id="deadlinemostly" name="deadlinegrade">
				<label class="radioLabel" for="deadlinegrade">In Mare Masura</label><br>
			<input class="radioInput" type="radio" id="deadlinelittle" name="deadlinegrade">
				<label class="radioLabel" for="deadlinegrade">In Mica Masura</label><br>
			<input class="radioInput" type="radio" id="deadlinezero" name="deadlinegrade">
				<label class="radioLabel" for="deadlinegrade">Deloc</label><br><br>

			<label>Calitati Demonstrate de Student:</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity1" name="studentquality1">
				<label class="radioLabel" for="studentquality1">Munca in Echipa</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity2" name="studentquality2">
				<label class="radioLabel" for="studentquality2">Responsabilitate</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity3" name="studentquality3">
				<label class="radioLabel" for="studentquality3">Initiativa</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity4" name="studentquality4">
				<label class="radioLabel" for="studentquality4">Capacitate de Efort</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity5" name="studentquality5">
				<label class="radioLabel" for="studentquality5">Capacitate de Adaptare</label><br>
			<input class="radioInput" type="checkbox" id="studentactivity6" name="studentquality6">
				<label class="radioLabel" for="studentquality6">Alte:</label><br>
			<input class="radioTextInput" type="text" id="otherquality" name="otherquality"><br><br>

			<label for="date">Data:</label><br>
			<input type="text" id="date" name="date"><br><br>

			<input type="submit" value="Completeaza">
		</form>
	</div>
</body>
</html>