<!DOCTYPE html>
<html>
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="documentDiv" style="height: 20%;top: 40%; left: 55%">
		<h2>Completare date generale</h2>
		<form action="{{ url_for('tutore_firma.info') }}" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="tutoreFirmaConventieButton" value="Completeaza">
		</form>
	</div>
	<div class="documentDiv" style="height: 20%;top: 40%; left: 15%">
		<h2>Acord de Practica</h2>
		<form action="acordTutoreFirma.html" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="tutoreFirmaAcordButton" value="Completeaza">
		</form>
	</div>
	<div class="documentDiv" style="height: 20%;top: 40%; left: 55%">
		<h2>Conventie de Practica</h2>
		<form action="{{ url_for('tutore_firma.conventie') }}" class="documentButtonForm" style="height: 30%">
			<input class="documentButton" type="submit" name="tutoreFirmaConventieButton" value="Completeaza">
		</form>
	</div>
	<a href="{{url_for('auth.logout')}}"> Logout </a>
</body>
</html>