<!DOCTYPE html>
<html lang="en">
<head>
	<title>Documente Practica</title>
	<link rel="stylesheet" href="../styles.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</head>
<body>
<div class="documentDiv row justify-content-center text-center">
		<div class="col-md-3" style="font-size:13px; font-weight:bold;">
		<h2>Date Generale</h2><br>
		<form action="{{ url_for('cadru_didactic_supervizor.info') }}" method="post">

			<label for="name">Nume si Prenume:</label><br>
			<input type="text" id="name" name="name" class="form-control"><br><br>

            <label for="specialization">Specialization:</label><br>
			<select id="specialization" class="form-control" name="specialization">
                <option value="Informatica" >Informatica</option>
                <option value="Matematica-Informatica">Matematica Informatica</option>
            </select><br>

			<label for="email">Email:</label><br>
			<input type="text" id="email" name="email" class="form-control"><br><br>

			<label for="phone">Phone:</label><br>
			<input type="text" id="phone" name="phone" class="form-control"><br><br>

			<label for="fax">Fax:</label><br>
			<input type="text" id="fax" name="fax" class="form-control"><br><br>

            <input type="submit" class="btn btn-primary btn-sm" value="Completeaza">
		</form>
	</div>
</div>
</body>
</html>