
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body >


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div>
    <form action="#" method="post">
        <label>Username</label><br>
        <input name="username" type="text" placeholder="write your username"><br><br>
        <label>Password</label><br>
        <input name="password" type="password" placeholder="write your password"><br><br>
        <input type="submit" value="Login"><br><br>
    </form>

    <div>
        <form action="/new">
            <label>New here?</label>
            <input value="Register" type="submit">
        </form>
    </div>
</div>

</body>
</html>